---
swagger: '2.0'
info:
  description: Refundable External API
  version: APIVERSION
  title: Refundable External API
  contact:
    name: Simon Skinner
    email: ss@refundable.co.uk
host: TEMPLATEHOST.refundable.co.uk
securityDefinitions:
  api_key:
    type: 'apiKey'
    name: 'key'
    in: 'query'
tags:
  - name: Charities
  - name: Merchants
  - name: Members
  - name: Offers
  - name: Transactions
schemes:
  - https
produces:
  - application/json
paths:
  /charities:
    get:
      tags:
        - Charities
      summary: Gets List of Charities
      operationId: listCharities
      responses:
        '200':
          description: An array of transactions
          schema:
            $ref: '#/definitions/ArrayOfCharities'
      x-google-backend:
        address: https://api-charities-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /charities/{charityId}:
    get:
      tags:
        - Charities
      summary: Gets details of a single charity
      operationId: getCharity
      parameters:
        - name: charityId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: A single Charity Item
          schema:
            $ref: '#/definitions/Charity'
      x-google-backend:
        address: https://api-charities-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /merchants:
    get:
      tags:
        - Merchants
      summary: Gets List of Merchants
      operationId: listMerchants
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-merchants-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /merchants/{merchantId}:
    get:
      tags:
        - Merchants
      parameters:
        - name: merchantId
          in: path
          required: true
          type: string
      summary: Gets details of a single Merchant
      operationId: getMerchant
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-merchants-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /merchants/{merchantId}/addresses:
    get:
      tags:
        - Merchants
      parameters:
        - name: merchantId
          in: path
          required: true
          type: string
      summary: Gets all addresses for a Merchant
      operationId: listMerchantAddresses
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-merchants-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /members/login:
    options:
      tags:
        - Members
      summary: Options for Logs in a User
      operationId: loginUserOptions
      parameters: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-members-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
    post:
      tags:
        - Members
      summary: Logs in a User
      operationId: loginUser
      parameters: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-members-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /members/create:
    options:
      tags:
        - Members
      summary: Creates a new User Options
      operationId: createUserOptions
      parameters: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-members-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
    post:
      tags:
        - Members
      summary: Creates a new User
      operationId: createUser
      parameters: []
      security:
        - api_key: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-members-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /members/cards:
    options:
      tags:
        - Members
      summary: Card options
      operationId: memberCardOptions
      parameters: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-cards-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
    get:
      tags:
        - Members
      summary: Gets a list of cards
      operationId: memberCardList
      parameters: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-cards-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
    post:
      tags:
        - Members
      summary: Creates a card
      operationId: memberCardCreate
      parameters: []
      security:
        - api_key: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-cards-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /members/cards/{cardId}:
    options:
      tags:
        - Members
      summary: Deletes a card options
      operationId: memberCardDeleteOptions
      parameters:
        - name: cardId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-cards-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
    delete:
      tags:
        - Members
      summary: Deletes a card
      operationId: memberCardDelete
      parameters:
        - name: cardId
          in: path
          required: true
          type: string
      security:
        - api_key: []
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-cards-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /offers/categories:
    get:
      tags:
        - Offers
      summary: Gets a List of offer Categories
      operationId: getOfferCategories
      parameters: []
      responses:
        '200':
          description: A list of categories
          schema:
            $ref: '#/definitions/ArrayOfCategories'
      x-google-backend:
        address: https://api-offers-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /offers/categories/{categorySlug}/offers:
    get:
      tags:
        - Offers
      summary: Gets a List of offers for a category
      operationId: getOffers
      parameters:
        - name: categorySlug
          in: path
          required: true
          type: string
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-offers-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /offers/categories/{categorySlug}/offers/{offerSlug}:
    get:
      tags:
        - Offers
      summary: Gets details of an offer from its category
      operationId: getOfferFromCategory
      parameters:
        - name: categorySlug
          in: path
          required: true
          type: string
        - name: offerSlug
          in: path
          required: true
          type: string
      responses:
        '200':
          description: all good
      x-google-backend:
        address: https://api-offers-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /transactions:
    get:
      summary: Gets a list of transactions ungrouped
      operationId: listTransactions
      tags:
        - Transactions
      responses:
        '200':
          description: An array of transactions
          schema:
            $ref: '#/definitions/ArrayOfTransactions'
      x-google-backend:
        address: https://api-transactions-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /transactions/grouped:
    get:
      summary: Gets a list of transaction grouped by day
      operationId: listTransactionsGrouped
      tags:
        - Transactions
      responses:
        '200':
          description: An array of transactions
          schema:
            $ref: '#/definitions/ArrayOfTransactionGroups'
      x-google-backend:
        address: https://api-transactions-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
  /transactions/summary:
    get:
      summary: Gets a summary of transactions
      operationId: transactionSummary
      tags:
        - Transactions
      responses:
        '200':
          description: Transaction Summary
          schema:
            $ref: '#/definitions/ArrayOfTransactionGroups'
      x-google-backend:
        address: https://api-transactions-TEMPLATEURL-nw.a.run.app
        path_translation: APPEND_PATH_TO_ADDRESS
definitions:
  FinancialSummary:
    type: object
    properties:
      totalRefunded:
        type: number
      totalWithdrawn:
        type: number
      totalAvailable:
        type: number
      totalPending:
        type: number
  Transaction:
    type: object
    properties:
      id:
        type: string
      time:
        type: string
      location:
        type: string
      merchantName:
        type: string
      refundValue:
        type: number
      logo:
        type: string
  ArrayOfTransactions:
    type: array
    items:
      $ref: '#/definitions/Transaction'
  TransactionGroup:
    type: object
    properties:
      id:
        type: string
      date:
        type: string
      totalRefunds:
        type: number
      refunds:
        type: array
        items:
          $ref: '#/definitions/Transaction'
  ArrayOfTransactionGroups:
    type: array
    items:
      $ref: '#/definitions/TransactionGroup'
  Category:
    type: object
    properties:
      id:
        type: string
      slug:
        type: string
      name:
        type: string
      imageUrl:
        type: string
      deleted:
        type: boolean
      description:
        type: string
  ArrayOfCategories:
    type: array
    items:
      $ref: '#/definitions/Category'
  Charity:
    type: object
    properties:
      id:
        type: string
      icon:
        type: string
      paymentRef:
        type: string
      telephoneNumber:
        type: string
      sortCode:
        type: string
      deleted:
        type: boolean
      accountNumber:
        type: string
      image:
        type: string
      name:
        type: string
      contactName:
        type: string
      contactEmail:
        type: string
      shortDescription:
        type: string
      miAddress:
        type: string
      description:
        type: string
  ArrayOfCharities:
    type: array
    items:
      $ref: '#/definitions/Charity'
